<a href="https://colab.research.google.com/github/dubesar/Home_Loan_Prediction/blob/master/Loan_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
x=pd.read_csv('train_u6lujuX_CVtuZ9i.csv')
y=pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

In [0]:
z=x['Loan_Status']

In [0]:
x=x.drop(['Loan_Status'],axis=1)

In [0]:
x=x.append(y,ignore_index=True)

In [22]:
x

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban
10,LP001024,Male,Yes,2,Graduate,No,3200,700.0,70.0,360.0,1.0,Urban
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban
12,LP001028,Male,Yes,2,Graduate,No,3073,8106.0,200.0,360.0,1.0,Urban
13,LP001029,Male,No,0,Graduate,No,1853,2840.0,114.0,360.0,1.0,Rural
14,LP001030,Male,Yes,2,Graduate,No,1299,1086.0,17.0,120.0,1.0,Urban
15,LP001032,Male,No,0,Graduate,No,4950,0.0,125.0,360.0,1.0,Urban
16,LP001034,Male,No,1,Not Graduate,No,3596,0.0,100.0,240.0,NaN,Urban
17,LP001036,Female,No,0,Graduate,No,3510,0.0,76.0,360.0,0.0,Urban
18,LP001038,Male,Yes,0,Not Graduate,No,4887,0.0,133.0,360.0,1.0,Rural
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban
20,LP001043,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban
21,LP001046,Male,Yes,1,Graduate,No,5955,5625.0,315.0,360.0,1.0,Urban
22,LP001047,Male,Yes,0,Not Graduate,No,2600,1911.0,116.0,360.0,0.0,Semiurban
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban
25,LP001066,Male,Yes,0,Graduate,Yes,9560,0.0,191.0,360.0,1.0,Semiurban
26,LP001068,Male,Yes,0,Graduate,No,2799,2253.0,122.0,360.0,1.0,Semiurban
27,LP001073,Male,Yes,2,Not Graduate,No,4226,1040.0,110.0,360.0,1.0,Urban
28,LP001086,Male,No,0,Not Graduate,No,1442,0.0,35.0,360.0,1.0,Urban
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban
...,...,...,...,...,...,...,...,...,...,...,...,...
951,LP002856,Male,Yes,0,Graduate,No,2292,1558.0,119.0,360.0,1.0,Urban
952,LP002857,Male,Yes,1,Graduate,Yes,2360,3355.0,87.0,240.0,1.0,Rural
953,LP002858,Female,No,0,Graduate,No,4333,2333.0,162.0,360.0,0.0,Rural
954,LP002860,Male,Yes,0,Graduate,Yes,2623,4831.0,122.0,180.0,1.0,Semiurban
955,LP002867,Male,No,0,Graduate,Yes,3972,4275.0,187.0,360.0,1.0,Rural
956,LP002869,Male,Yes,3+,Not Graduate,No,3522,0.0,81.0,180.0,1.0,Rural
957,LP002870,Male,Yes,1,Graduate,No,4700,0.0,80.0,360.0,1.0,Urban
958,LP002876,Male,No,0,Graduate,No,6858,0.0,176.0,360.0,1.0,Rural
959,LP002878,Male,Yes,3+,Graduate,No,8334,0.0,260.0,360.0,1.0,Urban
960,LP002879,Male,Yes,0,Graduate,No,3391,1966.0,133.0,360.0,0.0,Rural
961,LP002885,Male,No,0,Not Graduate,No,2868,0.0,70.0,360.0,1.0,Urban
962,LP002890,Male,Yes,2,Not Graduate,No,3418,1380.0,135.0,360.0,1.0,Urban
963,LP002891,Male,Yes,0,Graduate,Yes,2500,296.0,137.0,300.0,1.0,Rural
964,LP002899,Male,Yes,2,Graduate,No,8667,0.0,254.0,360.0,1.0,Rural
965,LP002901,Male,No,0,Graduate,No,2283,15000.0,106.0,360.0,NaN,Rural
966,LP002907,Male,Yes,0,Graduate,No,5817,910.0,109.0,360.0,1.0,Urban
967,LP002920,Male,Yes,0,Graduate,No,5119,3769.0,120.0,360.0,1.0,Rural
968,LP002921,Male,Yes,3+,Not Graduate,No,5316,187.0,158.0,180.0,0.0,Semiurban
969,LP002932,Male,Yes,3+,Graduate,No,7603,1213.0,197.0,360.0,1.0,Urban
970,LP002935,Male,Yes,1,Graduate,No,3791,1936.0,85.0,360.0,1.0,Urban
971,LP002952,Male,No,0,Graduate,No,2500,0.0,60.0,360.0,1.0,Urban
972,LP002954,Male,Yes,2,Not Graduate,No,3132,0.0,76.0,360.0,NaN,Rural
973,LP002962,Male,No,0,Graduate,No,4000,2667.0,152.0,360.0,1.0,Semiurban
974,LP002965,Female,Yes,0,Graduate,No,8550,4255.0,96.0,360.0,NaN,Urban
975,LP002969,Male,Yes,1,Graduate,No,2269,2167.0,99.0,360.0,1.0,Semiurban
976,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777.0,113.0,360.0,1.0,Urban
977,LP002975,Male,Yes,0,Graduate,No,4158,709.0,115.0,360.0,1.0,Urban
978,LP002980,Male,No,0,Graduate,No,3250,1993.0,126.0,360.0,NaN,Semiurban
979,LP002986,Male,Yes,0,Graduate,No,5000,2393.0,158.0,360.0,1.0,Rural
980,LP002989,Male,No,0,Graduate,Yes,9200,0.0,98.0,180.0,1.0,Rural

In [0]:
x['Gender']=x['Gender'].replace(['Male','Female','NaN'],[1,0,2])

In [0]:
x['Gender'].fillna(0,inplace=True)

In [0]:
x['Married']=x['Married'].replace(['No','Yes'],[0,1])
x['Education']=x['Education'].replace(['Graduate','Not Graduate'],[1,0])
x['Self_Employed']=x['Self_Employed'].replace(['Yes','No'],[1,0])
x['Property_Area']=x['Property_Area'].replace(['Urban','Semiurban','Rural'],[0,1,2])
x['Dependents']=x['Dependents'].replace(['3+'],3)

In [0]:
x['Dependents'].fillna(0,inplace=True)
x['Self_Employed'].fillna(0,inplace=True)
x['LoanAmount'].fillna(x['LoanAmount'].mean(),inplace=True)
x['Credit_History'].fillna(0,inplace=True)

In [27]:
x

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,142.51153,360.0,1.0,0
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.00000,360.0,1.0,2
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.00000,360.0,1.0,0
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.00000,360.0,1.0,0
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.00000,360.0,1.0,0
5,LP001011,1.0,1.0,2,1,1.0,5417,4196.0,267.00000,360.0,1.0,0
6,LP001013,1.0,1.0,0,0,0.0,2333,1516.0,95.00000,360.0,1.0,0
7,LP001014,1.0,1.0,3,1,0.0,3036,2504.0,158.00000,360.0,0.0,1
8,LP001018,1.0,1.0,2,1,0.0,4006,1526.0,168.00000,360.0,1.0,0
9,LP001020,1.0,1.0,1,1,0.0,12841,10968.0,349.00000,360.0,1.0,1
10,LP001024,1.0,1.0,2,1,0.0,3200,700.0,70.00000,360.0,1.0,0
11,LP001027,1.0,1.0,2,1,0.0,2500,1840.0,109.00000,360.0,1.0,0
12,LP001028,1.0,1.0,2,1,0.0,3073,8106.0,200.00000,360.0,1.0,0
13,LP001029,1.0,0.0,0,1,0.0,1853,2840.0,114.00000,360.0,1.0,2
14,LP001030,1.0,1.0,2,1,0.0,1299,1086.0,17.00000,120.0,1.0,0
15,LP001032,1.0,0.0,0,1,0.0,4950,0.0,125.00000,360.0,1.0,0
16,LP001034,1.0,0.0,1,0,0.0,3596,0.0,100.00000,240.0,0.0,0
17,LP001036,0.0,0.0,0,1,0.0,3510,0.0,76.00000,360.0,0.0,0
18,LP001038,1.0,1.0,0,0,0.0,4887,0.0,133.00000,360.0,1.0,2
19,LP001041,1.0,1.0,0,1,0.0,2600,3500.0,115.00000,NaN,1.0,0
20,LP001043,1.0,1.0,0,0,0.0,7660,0.0,104.00000,360.0,0.0,0
21,LP001046,1.0,1.0,1,1,0.0,5955,5625.0,315.00000,360.0,1.0,0
22,LP001047,1.0,1.0,0,0,0.0,2600,1911.0,116.00000,360.0,0.0,1
23,LP001050,0.0,1.0,2,0,0.0,3365,1917.0,112.00000,360.0,0.0,2
24,LP001052,1.0,1.0,1,1,0.0,3717,2925.0,151.00000,360.0,0.0,1
25,LP001066,1.0,1.0,0,1,1.0,9560,0.0,191.00000,360.0,1.0,1
26,LP001068,1.0,1.0,0,1,0.0,2799,2253.0,122.00000,360.0,1.0,1
27,LP001073,1.0,1.0,2,0,0.0,4226,1040.0,110.00000,360.0,1.0,0
28,LP001086,1.0,0.0,0,0,0.0,1442,0.0,35.00000,360.0,1.0,0
29,LP001087,0.0,0.0,2,1,0.0,3750,2083.0,120.00000,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
951,LP002856,1.0,1.0,0,1,0.0,2292,1558.0,119.00000,360.0,1.0,0
952,LP002857,1.0,1.0,1,1,1.0,2360,3355.0,87.00000,240.0,1.0,2
953,LP002858,0.0,0.0,0,1,0.0,4333,2333.0,162.00000,360.0,0.0,2
954,LP002860,1.0,1.0,0,1,1.0,2623,4831.0,122.00000,180.0,1.0,1
955,LP002867,1.0,0.0,0,1,1.0,3972,4275.0,187.00000,360.0,1.0,2
956,LP002869,1.0,1.0,3,0,0.0,3522,0.0,81.00000,180.0,1.0,2
957,LP002870,1.0,1.0,1,1,0.0,4700,0.0,80.00000,360.0,1.0,0
958,LP002876,1.0,0.0,0,1,0.0,6858,0.0,176.00000,360.0,1.0,2
959,LP002878,1.0,1.0,3,1,0.0,8334,0.0,260.00000,360.0,1.0,0
960,LP002879,1.0,1.0,0,1,0.0,3391,1966.0,133.00000,360.0,0.0,2
961,LP002885,1.0,0.0,0,0,0.0,2868,0.0,70.00000,360.0,1.0,0
962,LP002890,1.0,1.0,2,0,0.0,3418,1380.0,135.00000,360.0,1.0,0
963,LP002891,1.0,1.0,0,1,1.0,2500,296.0,137.00000,300.0,1.0,2
964,LP002899,1.0,1.0,2,1,0.0,8667,0.0,254.00000,360.0,1.0,2
965,LP002901,1.0,0.0,0,1,0.0,2283,15000.0,106.00000,360.0,0.0,2
966,LP002907,1.0,1.0,0,1,0.0,5817,910.0,109.00000,360.0,1.0,0
967,LP002920,1.0,1.0,0,1,0.0,5119,3769.0,120.00000,360.0,1.0,2
968,LP002921,1.0,1.0,3,0,0.0,5316,187.0,158.00000,180.0,0.0,1
969,LP002932,1.0,1.0,3,1,0.0,7603,1213.0,197.00000,360.0,1.0,0
970,LP002935,1.0,1.0,1,1,0.0,3791,1936.0,85.00000,360.0,1.0,0
971,LP002952,1.0,0.0,0,1,0.0,2500,0.0,60.00000,360.0,1.0,0
972,LP002954,1.0,1.0,2,0,0.0,3132,0.0,76.00000,360.0,0.0,2
973,LP002962,1.0,0.0,0,1,0.0,4000,2667.0,152.00000,360.0,1.0,1
974,LP002965,0.0,1.0,0,1,0.0,8550,4255.0,96.00000,360.0,0.0,0
975,LP002969,1.0,1.0,1,1,0.0,2269,2167.0,99.00000,360.0,1.0,1
976,LP002971,1.0,1.0,3,0,1.0,4009,1777.0,113.00000,360.0,1.0,0
977,LP002975,1.0,1.0,0,1,0.0,4158,709.0,115.00000,360.0,1.0,0
978,LP002980,1.0,0.0,0,1,0.0,3250,1993.0,126.00000,360.0,0.0,1
979,LP002986,1.0,1.0,0,1,0.0,5000,2393.0,158.00000,360.0,1.0,2
980,LP002989,1.0,0.0,0,1,1.0,9200,0.0,98.00000,180.0,1.0,2

In [28]:
z

0      Y
1      N
2      Y
3      Y
4      Y
5      Y
6      Y
7      N
8      Y
9      N
10     Y
11     Y
12     Y
13     N
14     Y
15     Y
16     Y
17     N
18     N
19     Y
20     N
21     Y
22     N
23     N
24     N
25     Y
26     Y
27     Y
28     N
29     Y
      ..
584    N
585    N
586    Y
587    Y
588    Y
589    N
590    Y
591    N
592    Y
593    Y
594    Y
595    Y
596    N
597    N
598    Y
599    Y
600    N
601    Y
602    Y
603    Y
604    Y
605    N
606    Y
607    Y
608    Y
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object

In [0]:
z=z.replace(['Y','N'],[1,0])

In [30]:
z

0      1
1      0
2      1
3      1
4      1
5      1
6      1
7      0
8      1
9      0
10     1
11     1
12     1
13     0
14     1
15     1
16     1
17     0
18     0
19     1
20     0
21     1
22     0
23     0
24     0
25     1
26     1
27     1
28     0
29     1
      ..
584    0
585    0
586    1
587    1
588    1
589    0
590    1
591    0
592    1
593    1
594    1
595    1
596    0
597    0
598    1
599    1
600    0
601    1
602    1
603    1
604    1
605    0
606    1
607    1
608    1
609    1
610    1
611    1
612    1
613    0
Name: Loan_Status, Length: 614, dtype: int64

In [0]:
from sklearn import *

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
full_X=x.iloc[:,1:]

In [0]:
full_X=full_X.iloc[:,:]

In [52]:
full_X['Loan_Amount_Term'].fillna(360,inplace=True)
full_X.fillna(0)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1.0,0.0,0,1,0.0,5849,0.0,142.51153,360.0,1.0,0
1,1.0,1.0,1,1,0.0,4583,1508.0,128.00000,360.0,1.0,2
2,1.0,1.0,0,1,1.0,3000,0.0,66.00000,360.0,1.0,0
3,1.0,1.0,0,0,0.0,2583,2358.0,120.00000,360.0,1.0,0
4,1.0,0.0,0,1,0.0,6000,0.0,141.00000,360.0,1.0,0
5,1.0,1.0,2,1,1.0,5417,4196.0,267.00000,360.0,1.0,0
6,1.0,1.0,0,0,0.0,2333,1516.0,95.00000,360.0,1.0,0
7,1.0,1.0,3,1,0.0,3036,2504.0,158.00000,360.0,0.0,1
8,1.0,1.0,2,1,0.0,4006,1526.0,168.00000,360.0,1.0,0
9,1.0,1.0,1,1,0.0,12841,10968.0,349.00000,360.0,1.0,1
10,1.0,1.0,2,1,0.0,3200,700.0,70.00000,360.0,1.0,0
11,1.0,1.0,2,1,0.0,2500,1840.0,109.00000,360.0,1.0,0
12,1.0,1.0,2,1,0.0,3073,8106.0,200.00000,360.0,1.0,0
13,1.0,0.0,0,1,0.0,1853,2840.0,114.00000,360.0,1.0,2
14,1.0,1.0,2,1,0.0,1299,1086.0,17.00000,120.0,1.0,0
15,1.0,0.0,0,1,0.0,4950,0.0,125.00000,360.0,1.0,0
16,1.0,0.0,1,0,0.0,3596,0.0,100.00000,240.0,0.0,0
17,0.0,0.0,0,1,0.0,3510,0.0,76.00000,360.0,0.0,0
18,1.0,1.0,0,0,0.0,4887,0.0,133.00000,360.0,1.0,2
19,1.0,1.0,0,1,0.0,2600,3500.0,115.00000,360.0,1.0,0
20,1.0,1.0,0,0,0.0,7660,0.0,104.00000,360.0,0.0,0
21,1.0,1.0,1,1,0.0,5955,5625.0,315.00000,360.0,1.0,0
22,1.0,1.0,0,0,0.0,2600,1911.0,116.00000,360.0,0.0,1
23,0.0,1.0,2,0,0.0,3365,1917.0,112.00000,360.0,0.0,2
24,1.0,1.0,1,1,0.0,3717,2925.0,151.00000,360.0,0.0,1
25,1.0,1.0,0,1,1.0,9560,0.0,191.00000,360.0,1.0,1
26,1.0,1.0,0,1,0.0,2799,2253.0,122.00000,360.0,1.0,1
27,1.0,1.0,2,0,0.0,4226,1040.0,110.00000,360.0,1.0,0
28,1.0,0.0,0,0,0.0,1442,0.0,35.00000,360.0,1.0,0
29,0.0,0.0,2,1,0.0,3750,2083.0,120.00000,360.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
951,1.0,1.0,0,1,0.0,2292,1558.0,119.00000,360.0,1.0,0
952,1.0,1.0,1,1,1.0,2360,3355.0,87.00000,240.0,1.0,2
953,0.0,0.0,0,1,0.0,4333,2333.0,162.00000,360.0,0.0,2
954,1.0,1.0,0,1,1.0,2623,4831.0,122.00000,180.0,1.0,1
955,1.0,0.0,0,1,1.0,3972,4275.0,187.00000,360.0,1.0,2
956,1.0,1.0,3,0,0.0,3522,0.0,81.00000,180.0,1.0,2
957,1.0,1.0,1,1,0.0,4700,0.0,80.00000,360.0,1.0,0
958,1.0,0.0,0,1,0.0,6858,0.0,176.00000,360.0,1.0,2
959,1.0,1.0,3,1,0.0,8334,0.0,260.00000,360.0,1.0,0
960,1.0,1.0,0,1,0.0,3391,1966.0,133.00000,360.0,0.0,2
961,1.0,0.0,0,0,0.0,2868,0.0,70.00000,360.0,1.0,0
962,1.0,1.0,2,0,0.0,3418,1380.0,135.00000,360.0,1.0,0
963,1.0,1.0,0,1,1.0,2500,296.0,137.00000,300.0,1.0,2
964,1.0,1.0,2,1,0.0,8667,0.0,254.00000,360.0,1.0,2
965,1.0,0.0,0,1,0.0,2283,15000.0,106.00000,360.0,0.0,2
966,1.0,1.0,0,1,0.0,5817,910.0,109.00000,360.0,1.0,0
967,1.0,1.0,0,1,0.0,5119,3769.0,120.00000,360.0,1.0,2
968,1.0,1.0,3,0,0.0,5316,187.0,158.00000,180.0,0.0,1
969,1.0,1.0,3,1,0.0,7603,1213.0,197.00000,360.0,1.0,0
970,1.0,1.0,1,1,0.0,3791,1936.0,85.00000,360.0,1.0,0
971,1.0,0.0,0,1,0.0,2500,0.0,60.00000,360.0,1.0,0
972,1.0,1.0,2,0,0.0,3132,0.0,76.00000,360.0,0.0,2
973,1.0,0.0,0,1,0.0,4000,2667.0,152.00000,360.0,1.0,1
974,0.0,1.0,0,1,0.0,8550,4255.0,96.00000,360.0,0.0,0
975,1.0,1.0,1,1,0.0,2269,2167.0,99.00000,360.0,1.0,1
976,1.0,1.0,3,0,1.0,4009,1777.0,113.00000,360.0,1.0,0
977,1.0,1.0,0,1,0.0,4158,709.0,115.00000,360.0,1.0,0
978,1.0,0.0,0,1,0.0,3250,1993.0,126.00000,360.0,0.0,1
979,1.0,1.0,0,1,0.0,5000,2393.0,158.00000,360.0,1.0,2
980,1.0,0.0,0,1,1.0,9200,0.0,98.00000,180.0,1.0,2

In [0]:
full_X
full_X['Married'].fillna(0,inplace=True)

In [75]:
train_valid_X = full_X[ 0:614 ]
train_valid_y = z
test_X = full_X[ 614: ]
train_X , valid_X , train_y , valid_y = train_test_split( train_valid_X , train_valid_y , train_size = .7 )

print (full_X.shape , train_X.shape , valid_X.shape , train_y.shape , valid_y.shape , test_X.shape)

(981, 11) (429, 11) (185, 11) (429,) (185,) (367, 11)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics
model = LogisticRegression()

In [77]:
train_X.fillna(0)
train_y.fillna(0)

136    0
153    0
254    0
236    0
448    0
143    1
163    1
373    0
437    1
487    0
32     0
218    0
604    1
103    1
612    1
346    0
70     1
313    1
581    0
321    1
596    0
192    0
256    0
561    1
425    1
575    1
90     1
531    1
359    1
119    1
      ..
129    0
274    1
339    1
400    0
315    1
480    1
124    1
368    1
478    1
381    1
253    1
584    0
349    1
178    1
419    1
51     1
484    1
68     1
397    1
264    1
289    1
216    0
319    0
440    1
421    0
101    1
555    1
322    1
83     0
377    1
Name: Loan_Status, Length: 429, dtype: int64

In [78]:
train_X.isnull().any()

Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
dtype: bool

In [79]:
train_y.isnull().any()

False

In [80]:
train_X['Married'].fillna(0)

136    1.0
153    1.0
254    0.0
236    1.0
448    1.0
143    1.0
163    1.0
373    0.0
437    1.0
487    1.0
32     0.0
218    1.0
604    1.0
103    1.0
612    1.0
346    1.0
70     1.0
313    1.0
581    0.0
321    1.0
596    1.0
192    1.0
256    0.0
561    1.0
425    1.0
575    1.0
90     1.0
531    1.0
359    1.0
119    0.0
      ...
129    1.0
274    1.0
339    0.0
400    1.0
315    1.0
480    0.0
124    1.0
368    1.0
478    1.0
381    0.0
253    1.0
584    1.0
349    1.0
178    1.0
419    1.0
51     0.0
484    1.0
68     1.0
397    1.0
264    0.0
289    0.0
216    1.0
319    1.0
440    0.0
421    0.0
101    0.0
555    1.0
322    1.0
83     1.0
377    1.0
Name: Married, Length: 429, dtype: float64

In [81]:
model.fit(train_X,train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [82]:
print (model.score( train_X , train_y ) , model.score( valid_X , valid_y ))

0.7948717948717948 0.7243243243243244

In [0]:
test_Y = model.predict(test_X).astype(int)
test_Y=np.where(test_Y==1,"Y","N")
Loan_ID = x[614:].Loan_ID
test = pd.DataFrame( { 'Loan_ID': Loan_ID , 'Loan_Status': test_Y } )
test.shape
test.head()
test.to_csv( 'test_csv.csv' , index = False )